<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/html-head" />

<body>

<header th:include="fragments/page-header" />

<div class="container dialog">
    <div class="dialog-header row">
        <div class="col-xs-12">
            <div class="pull-right">
                <button class="btn btn-sm btn-danger" th:value="#{dialog.stop}">Stop dialog</button>
            </div>
            <h1>Dialog No. <i th:remove="tag" th:text="${newDialog.id}">123</i></h1>
            <h2>Category: <i th:remove="tag" th:text="${category}">Category1</i></h2>
        </div>
        <div class="col-xs-12 dialog-progress">

        </div>
    </div>
    <div class="dialog-content row">
        <div class="text-center col-xs-12 bot-icon">
            <img width="150" height="150" src="http://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Robot_icon.svg/200px-Robot_icon.svg.png" />
        </div>

        <div class="dialog-expressions-history col-xs-12">

        </div>
    </div>
    <div class="dialog-user row">
        <div class="pull-left col-xs-12">
            <button class="btn btn-default btn-square fa">
                <span class="fa-microphone"></span>
            </button>
        </div>
        <div class="input-group">
            <input id="expressionText" type="text" class="form-control" placeholder="Say something!" th:placeholder="#{dialog.input.placeholder}" />
            <div class="input-group-addon">
                <button id="submitExpression" class="btn btn-primary" th:value="#{dialog.input.submit}">Submit</button>
            </div>
        </div>
    </div>
</div>

<footer th:include="fragments/page-footer" />

</body>

<div th:include="fragments/html-foot" />

<script type="text/javascript" th:inline="javascript">
    //<![CDATA[
    var dialogInputUrl = /*[[@{/dialog/input}]]*/ 'noaction';
    var you = /*[[#{dialog.user.label}]]*/ 'U';
    var bot = /*[[#{dialog.bot.label}]]*/ 'comp';

    $("#expressionText").keyup(function(event){
        if(event.keyCode == 13){
            $("#submitExpression").click();
        }
    });

    $('#submitExpression').click(function() {

        var $expressionText = $('#expressionText');
        var expression = $expressionText.val();
        $expressionText.val('');
        $('.dialog-expressions-history').append("<strong>" + you + "</strong>" + " " + expression + "</br>");
        scrollTextArea();

        $.ajax({
            type: 'POST',
            url: dialogInputUrl,
            data: {
                expression: expression
            },
            success: function(response) {
                $('.dialog-expressions-history').append("<strong>" + bot + "</strong>" + " " + response + "</br>");
                scrollTextArea();
            }
        });

    });

    var scrollTextArea = function() {
        var textarea = $('.dialog-expressions-history');
        textarea.scrollTop(textarea[0].scrollHeight);
    };
    //]]>
</script>

</html>