<head th:remove="tag">
    <base th:href="@{/}"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Very cool site for english language learning"/>
    <meta name="author" content="Mateusz Rutski &amp;&amp; Jakub Wrąbel"/>
    <title>Analyzer - The best english language learning service worldwide</title>

    <!-- Bootstrap -->
    <link href="../static/libs/bootstrap/css/bootstrap.min.css"
          th:href="@{/static/libs/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="all"/>

    <!-- font-awesome -->
    <link href="../static/libs/font-awesome/css/font-awesome.min.css"
          th:href="@{/static/libs/font-awesome/css/font-awesome.min.css}" rel="stylesheet" media="all"/>

    <!-- Application CSS -->
    <link href="../static/application/css/analyzer.css"
          th:href="@{/static/application/css/analyzer.css}" rel="stylesheet" media="all"/>

    <!-- Lato Font -->
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css' />
</head>