<footer th:remove="tag">
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 left">
                    <small class="text-muted">&#0169; Mateusz Rutski &amp; Jakub Wrąbel &reg; Analyzer 2015</small>
                </div>
                <div class="col-xs-7 center">
                    <!--<ul class="nav nav-pills">-->
                    <!--<li><a href="#" class="text-muted"><i class="ugc-icon question-sign"></i> Help</a></li>-->
                    <!--<li><a href="#" class="text-muted"><i class="ugc-icon envelope"></i> <span th:remove="tag" th:text="#{footer.contact}">Contact</span></a></li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>
    </div>
</footer>