<header th:remove="tag">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only" th:text="#{header.toggle.navigation}">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/dashboard}">
                    <span class="brand-name"><b>Analyzer</b> 1.0</span>
                </a>
            </div>
            <div class="navbar-collapse collapse" sec:authorize="isAuthenticated()">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="divider"></li>-->
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                    <!--<i class="glyphicon glyphicon-align-justify"></i> Menu-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                    <!--</ul>-->
                    <!--</li>-->

                    <li class="divider"></li>
                    <li><a th:href="@{/logout}"><i class="fa fa-power-off"></i>&nbsp;<span th:text="#{common.logout}">Logout</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>